<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Miembro</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
</head>


<body>
    <header>
        <div class="container__menu">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#" id="selected">Inicio</a></li>
                        <li><a href="#">Servicios</a>
                            <ul>
                                <li><a href="{{ url_for('gestion_usuarios') }}">Gestión de usuarios</a></li>
                                <li><a href="{{ url_for('gestion_maquinas') }}">Gestión de máquinas</a></li>
                                <li><a href="{{ url_for('gestion_nomina') }}">Gestión de nómina</a></li>
                                <li><a href="{{ url_for('gestion_membresias') }}">Gestión de membresias</a></li>
                                <li><a href="{{ url_for('gestion_instructores') }}">Gestión de instructores</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('NOSOTROS') }}">Nosotros</a></li>
                        <li><a href="{{ url_for('CONTACTOS') }}">Contactos</a></li>
                        <li class="admin">
                            <h6>Admin</h6>
                        </li>
                        <li class="user"><img src="/static/img/ic_person.png" alt=""></li>
                        <li><a href="{{ url_for('login') }}"></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <main id="tabla" class="d-flex align-items-center justify-content-center">
        <div class="content-container">

            <div class="col-md-80 p-4">

                <form action="/update/{{miembro.0}}" method="post">
                    <div class="form-group">
                        <label for="nombre">Nombre de usuario:</label>
                        <input type="text" id="nombre" name="nombre" value={{miembro.1}} class="form-control">

                        <label for="apellido">Apellido de usuario:</label>
                        <input type="text" id="apellido" name="apellido" value={{miembro.2}} class="form-control">

                        <label for="edad">Edad:</label>
                        <input type="number" id="edad" name="edad" value={{miembro.3}} class="form-control">

                        <label for="correo">Correo:</label>
                        <input type="email" id="correo" name="correo" value={{miembro.4}} class="form-control">

                        <label for="telefono">Telefono:</label>
                        <input type="number" id="telefono" name="telefono" value={{miembro.5}} class="form-control">

                        <label for="contraseña">Contraseña:</label>
                        <input type="text" id="contraseña" name="contraseña" value={{miembro.6}} class="form-control">
                        <br>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Editar Usuario">

                    <a href="{{ url_for('editar_miembro') }}" class="btn btn-primary btn-block">Volver</a>
                </form>

            </div>
        </div>
    </main>
</body>

</html>